# ====================
# Python / Django
# ====================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/


# Django secrets & DB
.env
.env.*
db.sqlite3
staticfiles/

# ====================
# React / Node
# ====================
node_modules/
build/
dist/

# ====================
# OS / Editor
# ====================
.DS_Store
Thumbs.db

# VSCode
.vscode/
